{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">

        <form method="post">


            <h1>Register new account:</h1>
            {% form_theme registerForm 'bootstrap_4_layout.html.twig' %}

            {{ form_start(registerForm) }}


            {{ form_widget(registerForm, {attr:{class : 'form-group'}}) }}
            <button class="btn btn-lg btn-primary" type="submit">
                Submit
            </button>

            {{ form_end(registerForm) }}


        </form>
    </div>

{% endblock %}
