{% extends 'base.html.twig' %}

{% block title %}Hello {{app.user.email}}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{app.user.email}}! ✅</h1>
        <h4>Your firstname: {{app.user.firstname}}</h4>
        <h4>Your lastname: {{app.user.lastname}}</h4>



    </div>
{% endblock %}
